<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; {{ .Site.Title }} {{ now.Format "2006" }}</p>
        <p class="m-0 small">Design & hosting by
            <a class ="sw-credit" href="https://sunwolf.studio/?ref=chw-guitars" alt="Modern Website Design &amp; Hosting by Sunwolf Studio" title="Modern Website Design &amp; Hosting by Sunwolf Studio"
                rel="designer">Sunwolf Studio</a>
        </p>
    </div>
</footer>