<div class="modal fade" id="globalModal" tabindex="-1" role="dialog" aria-labelledby="Heads Up!"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Heads up!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Starting March 17th 2020 we will be closing our business during this COVID-19 outbreak.</p>
                <p>We will still be doing lessons via video and I will be available for appointment only: pick-up, and or drop off of instruments for repair.</p>
                <p>If you are sick and or have been around someone that has been sick please do not schedule for a repair service appointment.</p>
                <p>With that being said you may contact us on <a href="https://www.facebook.com/chw.guitars/">Facebook</a> or email <a href="mailto:chwguitars@gmail.com">chwguitars@gmail.com</a></p>
                <p>Thank you</p>
                <p>Chuck</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
