{{ define "main" }}
<section class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="contact-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Come Back Later</span>
            <span class="section-heading-lower">We're Closed</span>
          </h2>
          {{ .Content }}
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li id="hours--Sunday" class="list-unstyled-item list-hours-item d-flex">
              Sunday
              <span class="ml-auto">Closed</span>
            </li>
            <li id="hours--Monday" class="list-unstyled-item list-hours-item d-flex">
              Monday
              <span class="ml-auto">Closed</span>
            </li>
            <li id="hours--Tuesday" class="list-unstyled-item list-hours-item d-flex flex-wrap">
              Tuesday
              <span class="ml-auto">Closed</span>
            </li>
            <li id="hours--Wednesday" class="list-unstyled-item list-hours-item d-flex flex-wrap">
              Wednesday
              <span class="ml-auto">Closed</span>
            </li>
            <li id="hours--Thursday" class="list-unstyled-item list-hours-item d-flex flex-wrap">
              Thursday
              <span class="ml-auto">Closed</span>
            </li>
            <li id="hours--Friday" class="list-unstyled-item list-hours-item d-flex flex-wrap">
              Friday
              <span class="ml-auto">Closed</span>
            </li>
            <li id="hours--Saturday" class="list-unstyled-item list-hours-item d-flex flex-wrap">
              Saturday
              <span class="ml-auto">Closed</span>
            </li>
          </ul>
          <p class="address mb-5">
            <em>
              <strong>636 Baker Street Suite B</strong>
              <br>
              McMinnville, OR 97128
            </em>
          </p>
          <p class="mb-0">
            <small>
              <em>Call Us</em>
            </small>
            <br>
            (503) 472-4500
          </p>
          <h2>Send us an email!</h2>
          <form class="text-left" name="contact" method="POST" netlify-honeypot="phone" netlify>
            <div class="form-row">
              <div class="form-group col-md-6 d-none">
                  <label for="inputName">Phone</label>
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="503-555-5555">
                </div>
              <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" name="name" class="form-control" id="inputName" placeholder="Jimi Hendrix" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="jimi@capitalrecords.com" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputSubject">Subject</label>
              <input type="text" name="_subject" class="form-control" id="inputSubject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <label for="inputMessage">Message</label>
              <textarea name="message" class="form-control" id="inputMessage" placeholder="Message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}