.intro {
  position: relative;
  @include media-breakpoint-up(lg) {
    .intro-img {
      width: 75%;
      float: right;
    }
    .intro-text {
      left: 0;
      width: 60%;
      margin-top: -8rem;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .intro-text {
      width: 45%;
    }
  }
}
