{{ define "main" }}
<section class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="contact-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Come On In</span>
            <span class="section-heading-lower">We're Open</span>
          </h2>
          {{ .Content }}
          <h2>Send us an email!</h2>
          <form  class="text-left" action="https://formspree.io/hello@joepurdy.io"
          method="POST">
            <input type="text" name="_gotcha" class="d-none">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" name="name" class="form-control" id="inputName" placeholder="Jimi Hendrix" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="jimi@capitalrecords.com" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputSubject">Subject</label>
              <input type="text" name="_subject" class="form-control" id="inputSubject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <label for="inputMessage">Message</label>
              <textarea name="message" class="form-control" id="inputMessage" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}