.footer {
  background-color: fade-out($secondary, 0.1);
}

.sw-credit {
  font-family: 'Ceviche One';
  font-weight: normal;
  font-size: 1.2rem;
  color: #ff8000;

  transition: color 0.5s;
}

.sw-credit:hover {
    color: lighten($color: #ff8000, $amount: 10);
    text-decoration: none;
}